XaeroWaypoints_BACKUP240807/
logs/
CustomSkinLoader/
crash-reports
crash-reports/
saves/
local/
*tlauncher*
*tlauncher*/
*tlauncher*/**
screenshots/
xaero/
options.txt
usercache.json
icon.png
icon.jpg
icon.jpeg
usernamecache.json
rhino.local.properties
patchouli_data.json
nohup.out

.sl_password
.mixin.out/
config/spark/
